@import url(/css/fonts/VENOM.ttf);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body {
    background-color: black;
    width: 90%;
    margin: 40px auto; 
    font-family: poppins;
    color: white;
    font-size: 18px;
  }

.header-container {
      width: 100%;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo-header {

        a {
            img {
                width: 100px;
            }
        }
      }

      .logo-header:hover {
          opacity: 0.7;
      }
      
      .menu {
          ul {
            font-size: 16px;
            display: flex;
            text-decoration: none;
            align-items: center;

              li {
                  padding: 0px 10px;
                  list-style: none;

                  .a-form {
                      color: black;
                  }

                  .a-form:active {
                      color: white;
                  }
                  
                  a {
                      text-decoration: none;
                      display: flex;
                      align-items: center;
                      color: white;

                      .menu-img {
                      width: 50px;
                      height: auto;
                      
                    }

                    .menu-img:hover {
                        opacity: 0.5;
                    }                    
                }

                /* Estilo menu gral. */

                a:hover {
                    color: gray;
                }

                a:active {
                    color: rgb(0, 3, 184);   
                }

                /* Estilos juegos, venom y carnage (Menú) */

                #juegos:hover {
                    color: gray;
                }

                #juegos:active {
                    opacity: 0.8;
                }

                #venom:hover {
                    color: gray;
                }

                #venom:active {
                    color: rgb(0, 3, 184);
                }

                #carnage:active {
                    color: #da425e;
                }
              }

              .form {
                  background-color: white;
                  color: black;
                  border-radius: 10px;
                  margin: 0 0 0 10px;
              }

              .form:hover {
                  outline: white solid 1px;
                  background-color: black;
                  color: white;
                  cursor: pointer;
              }
          }
      }
  }
  
h1 {
    text-align: center;
    margin-top: 50px;
}

.card {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

    
    .social-img {
        text-align: center;
        width: 150px;
        margin-top: 10px;
    }

    .social-contact {
        color: white;
        text-decoration: none;
        text-align: center;    
    }
    
    .social-contact:hover {
        opacity: 0.8;
        cursor: pointer;
    }
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .form-login {
        margin: 15px 0;

        .group-form {
            margin: 15px 0;

        }
    }


    .form-bottom {

        .button-form {
            margin-top: 20px;
            padding: 5px 15px;
            border: none;
        }

        .button-form:hover {
            cursor: pointer;
            opacity: 0.8;
        }
    }
}